# Ignore build and compilation directories
default-testCompile/
default-compile/

# Ignore IntelliJ project files
.idea/

# Ignore targer directory
target/

# Ignore local build info
build-info.properties

# Ignore created files list
createdFiles.lst

# Ignore input files list
inputFiles.lst

# Ignore UI Designer files
uiDesigner.xml

# Ignore META-INF directory
META-INF/

# Other common ignores
*.log
*.tmp
*.swp
.DS_Store
target/
